@use '../../lib/service.scss' as s;



.header{
    @extend .section;
    background-color: s.color('backgroundDark');
}

.header__content{
    @extend .section__content;

    display: flex;
    padding: s.space(4) 0;
    justify-content: space-between;    
}

.header__block{
    display: flex;
    gap: s.space(8);
    align-items: center;
}

.header__icon{
    @include s.click;
}

.header__link{
    text-decoration: none;
    color: s.color('whiteLight');
    font-size: s.size('small');

    @include s.click;
}